.button.is-yellow {
  background-color: #fc0;
  box-shadow: none;
  border: 0;
  color: #333;
}
.button.is-yellow:hover {
  background-color: rgba(255,204,0,.9);
  color: rgba(51,51,51,.9);
}
.button.is-blue {
  background-color: #0085ba;
  box-shadow: none;
  border: 0;
  color: #fafafa;
}
.button.is-blue:hover {
  background-color: rgba(0,133,186,.9);
  color: rgba(250,250,250,.9);
}
.button.is-dark {
  background-color: #292f38;
  box-shadow: none;
  border: 0;
  color: #fafafa;
}
.button.is-dark:hover {
  background-color: rgba(41,47,56,.9);
  color: rgba(250,250,250,.9);
}
.abraia-panel {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  margin: 10px 20px 0 2px;
  flex-grow: 1;
  color: #444;
}
.abraia-panel .button {
  text-align: center;
  width: 100%;
}
.abraia-panel .is-light,
.abraia-panel .is-light h1,
.abraia-panel .is-light h2 {
  background-color: #fafafa;
  color: #333;
}
.abraia-panel .is-dark,
.abraia-panel .is-dark h1,
.abraia-panel .is-dark h2 {
  background-color: #292f38;
  color: #fafafa;
}
.abraia-panel .is-yellow {
  background-color: #fc0;
  color: #333;
}
.abraia-panel .is-green {
  background-color: #32bea6;
}
.abraia-panel .is-red {
  background-color: #e04f5f;
}
.abraia-panel .is-centered {
  text-align: center;
}
.abraia-panel .is-fullwidth {
  width: 100%;
}
.abraia-panel input[type="checkbox"]:focus, 
.abraia-panel input[type="color"]:focus, 
.abraia-panel input[type="date"]:focus,
.abraia-panel input[type="datetime-local"]:focus, 
.abraia-panel input[type="datetime"]:focus, 
.abraia-panel input[type="email"]:focus, 
.abraia-panel input[type="month"]:focus, 
.abraia-panel input[type="number"]:focus, 
.abraia-panel input[type="password"]:focus, 
.abraia-panel input[type="radio"]:focus, 
.abraia-panel input[type="search"]:focus, 
.abraia-panel input[type="tel"]:focus, 
.abraia-panel input[type="text"]:focus, 
.abraia-panel input[type="time"]:focus, 
.abraia-panel input[type="url"]:focus, 
.abraia-panel input[type="week"]:focus, 
.abraia-panel select:focus, 
.abraia-panel textarea:focus {
  border-color: #fc0;
  box-shadow: 0 0 2px rgba(255,211,0,.8);
}
.abraia-panel input[type="checkbox"]:checked::before {
  color: #fc0;
}
.abraia-header {
  padding: 14px 20px;
  display: flex;
}
.abraia-header h1 {
  font-size: 23px;
  font-weight: 400;
  margin: .5em 0;
}
.abraia-header h2 {
  font-size: 21px;
  font-weight: 400;
  margin: .5em 0;
}
.abraia-header p {
  margin: .5em 0;
}
.abraia-header .is-gray {
  color: #ccc;
}
.abraia-message {
  background-color: #fc0;
  padding: 10px 20px;
}
.abraia-message h2 {
  font-size: 21px;
  font-weight: 400;
  margin: .5em 0;
}
.abraia-message .button {
  font-size: 16px;
  line-height: 40px;
  padding: 0 36px;
  height: 40px;
  float: right;
  width: unset;
}
.abraia-message span {
  color: #fafafa;
}
.abraia-content {
  flex: 1;
  padding: 10px 20px;
}
.abraia-content h2 {
  font-size: 1.8em;
  font-weight: 400;
}
.abraia-content h3 {
  font-size: 1.5em;
  font-weight: 400;
}
.abraia-row {
  display: flex;
}
.abraia-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}
.abraia-panel p.is-1,
.abraia-column p.is-1 {
  font-size: 2em;
}
.abraia-panel p.is-2,
.abraia-column p.is-2 {
  font-size: 1.5em;
}
.abraia-panel span.is-1,
.abraia-column span.is-1 {
  font-size: 2em;
}
.abraia-footer {
  padding: 10px 20px;
}
.abraia-progress {
  background-color: #eee;
  color: #333;
  height: 18px;
}
.abraia-progress-bar {
  background-color: #fc0;
  color: #fff;
  height: 18px;
  text-align: center;
}
.abraia-progress-bar.is-dark {
  background-color: #292f38;
}
.abraia-progress-bar > span {
  float: right;
  font-style: italic;
  margin-right: 4px;
}
.abraia-circular {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}
.abraia-circular > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.abraia-circular .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-color: #fc0;
  box-sizing: border-box;
  border-style: solid;
  position: absolute;
  top: 0;
}
.abraia-circular .progress-right {
  right: 0;
}
.abraia-circular .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.abraia-circular .progress-left {
  left: 0;
}
.abraia-circular .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.abraia-circular .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: #eee;
  font-size: 24px;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
@media only screen and (max-width: 990px) {
  .abraia-circular { margin-bottom: 20px; }
}
@media screen and (max-width:768px) {
  .abraia-row {
    flex-direction: column;
  }
}
